<div class="pb-10">
  <h1 class="text-white text-center mb-3 font-lexend font-bold">
    Update Inventory
  </h1>
  <div class="flex justify-between mb-2">
    <div class="relative">
      <input
        type="text"
        (input)="onInputChange()"
        [(ngModel)]="query"
        placeholder="Search products"
        class="block w-full py-2 pl-10 pr-4 leading-tight bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
      />
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <!-- Search icon -->
        <svg
          class="h-5 w-5 text-gray-500-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M13.708 12.292a1 1 0 0 1-1.414 1.414l-.793-.793a5.5 5.5 0 1 1 1.414-1.414l.793.793zM15.5 10.5a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>

    <!-- <input (input)="onInputChange()"  [(ngModel)]="query" type="text" placeholder="Search" class="outline-none w-[250px] h-[40px] px-2 rounded-2 text-black bg-gray-500-800"> -->

    <div class="relative">
      <select
        class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:ring"
        id="supplier-select"
      >
        <option value="" disabled selected>Select Supplier</option>
        <option *ngFor="let supplier of suppliers" value="supplier.name">
          {{ supplier.name }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500-700"
      >
        <!-- Heroicon name: selector -->
        <svg
          class="h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M6.293 7.707a1 1 0 1 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414l-3 3a1 1 0 1 1-1.414-1.414L8.586 11H3a1 1 0 1 1 0-2h5.586l-1.293-1.293z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-between w-full">
    <!-- Display the filtered products as a scrollable list -->
    <ul
      class="text-white overflow-y-auto max-h-[70vh] border rounded mt-2 p-2 w-1/5"
    >
      <li *ngFor="let product of products" (click)="onProductClick(product)">
        {{ product.name }}
      </li>
      <h1 *ngIf="products.length <= 0" class="text-white items-center">
        search to select Items
      </h1>
    </ul>

    <!-- Table to display selected products -->
    <div
      class="mt-2 ml-3 text-white w-4/5"
      style="height: 67vh; overflow-y: auto"
    >
      <div class="flex">
        <div class="w-1/3 font-bold">Product Name</div>
        <div class="w-1/3 font-bold">Buying Price</div>
        <div class="w-1/3 font-bold flex justify-start ml-3">Quantity</div>
        <div class="w-1/3 font-bold flex justify-start ml-3">Remove</div>
      </div>
      <div
        *ngFor="let selectedProduct of selectedProducts; let i = index"
        class="flex items-center mt-1"
      >
        <div class="w-1/3">{{ selectedProduct.name }}</div>
        <div class="w-1/3">
          <input
            class="text-black pl-2 w-full bg-white"
            type="number"
            [(ngModel)]="selectedProduct.buying_price"
            min="1"
          />
        </div>
        <div class="w-1/3">
          <input
            class="text-black pl-2 ml-3 w-full bg-white"
            type="number"
            [(ngModel)]="selectedProduct.quantityToAdd"
            min="1"
          />
        </div>

        <div class="ml-3 w-1/3">
          <button
            class="bg-red-500 hover:bg-red-700 ml-3 text-black font-bold py-1 px-2 rounded"
            (click)="removeSelectedProduct(i)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex mt-3 ml-10 pb-5 justify-between">
    <button
      (click)="clearFilters()"
      class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-900 rounded-lg hover:bg-black hover:text-white focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 inline mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
      Clear
    </button>
    <!-- Update Inventory Button -->
    <button
      (click)="openPaymentModal()"
      class="px-6 mr-10 py-2 font-medium tracking-wide text-black capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 inline mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
      Update Inventory
    </button>
  </div>
</div>

<!-- Payment Modal -->
<div
  id="paymentModal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto bg-gray-500-800 bg-opacity-75"
  [ngClass]="{ hidden: !isPaymentModalVisible }"
>
  <div
    class="relative p-4 w-full max-w-md max-h-full bg-white rounded-lg shadow-md"
  >
    <!-- Close button -->
    <button
      class="absolute top-2 right-2 text-gray-600 hover:text-gray-800"
      (click)="closePaymentModal()"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
    <!-- Payment Details -->
    <h2 class="text-lg font-semibold mb-4">Payment Details</h2>
    <!-- Checkbox for paid -->
    <label class="flex items-center mb-4">
      <input type="checkbox" [(ngModel)]="isPaid" class="mr-2" />
      <span class="text-sm">Is Purchase Paid?</span>
    </label>
    <!-- Payment Mode -->
    <div *ngIf="isPaid">
      <label class="block mb-2 text-sm">Payment Mode</label>
      <select [(ngModel)]="paymentMode" class="block w-full mb-4">
        <option value="Mpesa">Mpesa</option>
        <option value="Cash">Cash</option>
        <option value="Bank">Bank</option>
      </select>
      <!-- Amount Field -->
      <label class="block mb-2 text-sm">Amount</label>
      <input
        type="number"
        [(ngModel)]="paymentAmount"
        class="block w-full mb-4"
      />
      <!-- Pay All Button -->
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2"
        (click)="payAll()"
      >
        Pay All
      </button>
    </div>
    <!-- Complete Purchase Button -->
    <button
      class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
      (click)="addPurchase()"
    >
      Complete Purchase
    </button>
  </div>
</div>
