/* You can add global styles to this file, and also import other style files */
@use '@ngneat/hot-toast/src/styles/styles.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Lexend", sans-serif;
  }

  .scrollbar-hide::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 50px;
  }