<div *ngIf="!savedOrg" class="lg:flex min-h-screen w-full bg-jadedustbg">
  <div class="lg:hidden block lg:w-1/2 w-full md:h-[400px] h-[250px] relative">
    <div
      class="absolute inset-0 bg-cover bg-center"
      style="background-image: url('assets/images/orgPage.png')"
    ></div>
    <div
      class="h-full absolute top-0 w-full bg-jadedustbg bg-opacity-50 grid place-content-center md:px-14 px-4 space-y-6"
    >
      <div class="lg:mt-[60px]">
        <img
          src="assets/images/cpos-logo.png"
          alt="C-Pos Logo"
          class="h-[20px]"
        />
      </div>
      <h2
        class="md:text-[40px] text-[20px] font-medium w-auto md:text-left text-center"
      >
        Enhancing Customer Experience with a Modern POS System.
      </h2>
      <p
        class="md:text-[20px] text-[14px] font-normal text-darkGray md:text-left text-center"
      >
        Streamlining Operations: Faster Transactions, Quicker Payments, and
        Improved Service
      </p>
    </div>
  </div>
  <div
    class="w-full flex flex-col lg:w-1/2 h-fit lg:px-[50px] md:px-[14px] px-[6px] max-w-[1600px] mx-auto"
  >
    <div class="lg:mt-[60px] lg:block hidden">
      <img
        src="assets/images/cpos-logo.png"
        alt="C-Pos Logo"
        class="h-[20px]"
      />
    </div>
    <div
      class="lg:m-auto lg:grid place-content-center lg:-mt-[60px] lg:h-screen"
    >
      <div
        class="rounded-lg p-8 space-y-4 lg:w-[550px] w-[100%] lg:max-w-[550px] mx-auto"
      >
        <h2 class="md:text-[40px] text-[25px] font-bold text-darktext mb-4 text-center">
          Organization required
        </h2>
        <p class="text-darkGray mb-4 md:text-[20px] text-[16px] text-center font-normal">
          Enter 6 digit code sent to your email
        </p>
        <p class="text-darkGray mb-4 text-[16px] text-center font-normal">
          "lancolatect.gmail.com"
        </p>
        <form (ngSubmit)="onSubmit()" class="space-y-4 sm:space-y-6 mt-8">
          <div>
            <label
              for="verification-code"
              class="block text-darkGray font-semibold mb-2"
            >
              Organization Code
            </label>
            <input
              type="text"
              class="w-full px-3 py-2 rounded-[5px] h-[45px] focus:outline-none"
              id="verification-code"
              [(ngModel)]="org_code"
              name="verification-code"
              placeholder="Organization Code"
              required
            />
          </div>
          <button
            type="submit"
            class="w-full py-2 px-4 bg-darkGray text-white font-semibold rounded-[5px] h-[45px] hover:bg-darktext transition-colors duration-300"
          >
            Login
          </button>
        </form>
        <p class="text-darkGray mb-4 text-[16px] mt-6 text-center font-normal">
          Streamlining Operations: Faster Transactions, Quicker Payments, and
          Improved Service
        </p>
      </div>
    </div>
  </div>

  <div class="hidden lg:block lg:w-1/2 relative">
    <div
      class="absolute inset-0 bg-cover bg-center"
      style="background-image: url('assets/images/orgPage.png')"
    ></div>
    <div
      class="h-full absolute top-0 w-full bg-jadedustbg bg-opacity-50 grid place-content-center px-14 space-y-6"
    >
      <h2 class="text-[40px] font-medium max-w-[530px]">
        Enhancing Customer Experience with a Modern POS System.
      </h2>
      <p class="text-[20px] font-normal text-darkGray">
        Streamlining Operations: Faster Transactions, Quicker Payments, and
        Improved Service
      </p>
    </div>
  </div>
</div>

<ng-container *ngIf="savedOrg">
  <app-login></app-login>
</ng-container>
